<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
        <p>GitHub Repository: <a href="{{githubRepo}}">{{githubRepo}}</a></p>
    </div>

    {{>footer}}
</body>

</html>